{% extends "base.html" %}
{% block content %}
      <div class="jumbotron">
        <h1>{{ tagline }}</h1>
        <p class="lead">{{ mission }}</p>
        <p><a class="btn btn-lg btn-success" href="{{ url_for('.donate')}}" role="button">Donate today</a></p>
        {% set progress = 100 * raised / goal %}

        <p>We have raised {{ "${:,d}".format( raised|int ) }} out of our goal of {{ "${:,d}".format(goal) }} ({{progress|round|int}}%)</p>

        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="40"
          aria-valuemin="0" aria-valuemax="100" style="width:{{progress}}%">
            {{ progress|round|int }}% of goal raised
          </div>
        </div>
      </div>
      <h3><a name="recent" href="#recent">Recent donations</a></h3>
      <div class="row marketing">
        <div class="col-lg-6">
          {% if not donations %}
          <h4>No donations yet, <a href="{{ url_for('.donate')}}">be the first and donate now</a>!</h4>
          {% endif %}
          {% for d in donations %}
          <h4>{{ d.name }}</h4>
          <h5>{{ "${:,.2f}".format(d.amount / 100.0)}}</h5>
          <p>{{ d.message }}</p>
          {% endfor %}
        </div>
        <a href="?all=true#recent">View all donations</a>

      </div>
{% endblock %}
